// global styles //
@mixin media($screen) {
  @if ($screen == "xs") {
    @media (max-width: 499px) {
      @content;
    }
  }
  @if ($screen == "sm") {
    @media (min-width: 500px) {
      @content;
    }
  }
  @if ($screen == "md") {
    @media (min-width: 768px) {
      @content;
    }
  }
  @if ($screen == "lg") {
    @media (min-width: 992px) {
      @content;
    }
  }
  @if ($screen == "xl") {
    @media (min-width: 1200px) {
      @content;
    }
  }
}
// d9d9d9
// f0f0f0
// c4c4c4
// bfbfbf

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #f2f2f2;
  overflow-x: hidden;
}
.custom_container {
  margin: 0 auto;
  padding: 15px 0;
  width: 90%;
  @include media("sm") {
    width: 460px;
  }
  @include media("md") {
    width: 720px;
  }
  @include media("lg") {
    width: 950px;
  }
  @include media("xl") {
    width: 1150px;
  }
}
.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  color: inherit;
  text-decoration: none;
}
// global styles //

// header //
.header {
  background-color: #fff;
  .container {
    @extend .custom_container;
    @extend .flex_between;
    gap: 15px;
    @include media("xs") {
      flex-direction: column;
      flex-wrap: wrap;
    }
    p {
      font-size: 20px;
      font-weight: 600;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 12px;
      a {
        padding-bottom: 6px;
        &.active {
          border-bottom: 1px solid;
          font-weight: 600;
        }
      }
    }
  }
}
// header //
// search //
.search {
  background-color: #fff;
  .container {
    @extend .custom_container;
    @extend .flex_center;
    .search_box {
      // max-width: 60%;
      position: relative;
      @extend .flex_between;
      gap: 4px;
      border: 1px solid #bfbfbf;
      border-radius: 10px;
      input {
        outline: none;
        border: none;
        padding: 10px;
        border-radius: 10px;
        max-width: 100%;
        width: 250px;
        @include media("xs") {
          width: 90%;
        }
      }
      .search_icon {
        margin: 10px 10px;
        font-size: 17px;
        color: #bfbfbf;
      }
    }
  }
}
// search //
// main content //
.content {
  padding: 10px 0;
  .content_container {
    @extend .custom_container;
    .title_content {
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 30px;
    }
  }
  .jobs_container {
    display: grid;
    gap: 20px;
    @include media("sm") {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    @include media("md") {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
// main content //
// card //
.card {
  padding: 30px 25px 25px;
  border-radius: 5px;
  background-color: #fff;
  .card_container {
    width: 100%;
    @include media("sm") {
      width: 85%;
    }
    .title {
      font-weight: 600;
      font-size: 25px;
      margin-bottom: 15px;
    }
    .skills {
      margin-top: 10px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 5px;
      .skill {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #bfbfbf;
        padding: 7px 10px;
        border-radius: 6px;
      }
    }
    .link {
      text-decoration: underline;
    }
  }
}
// card //
// aside //
.aside {
  background-color: #bfbfbf;
  padding: 20px 25px 25px;
  border-radius: 5px;
  align-self: self-start;
  .aside_container {
    width: 100%;
    @include media("sm") {
      width: 85%;
    }
    .title {
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 25px;
      width: 100%;
    }
    ul {
      list-style: none;
      li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .list_style {
          width: 5px;
          height: 5px;
          background-color: #000;
          border-radius: 50%;
          margin-right: 10px;
        }
        a {
          font-weight: 400;
          text-decoration: underline;
        }
      }
    }
  }
}
// aside //
// related_container //
.related_container {
  display: grid;
  gap: 20px;
  @include media("xs") {
    row-gap: 25px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  @include media("sm") {
    row-gap: 25px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  @include media("md") {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .jobs_container {
    grid-column: span 2 / span 2;
  }
}
// related_container //
// skills_container //
.skills_content {
  padding: 25px 25px;
  border-radius: 5px;
  background-color: #fff;
  grid-column: span 2 / span 2;
  .desc {
    margin-bottom: 40px;
    .desc_title {
      margin-bottom: 10px;
      font-weight: 700;
      font-size: 20px;
    }
    .desc_desc {
      font-size: 16px;
    }
  }
  .skills_container {
    .title {
      font-weight: 600;
      font-size: 22px;
      margin-bottom: 15px;
    }
    .skills {
      margin-top: 15px;
      @extend .flex_between;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 20px;
    }
  }
}
// skills_container //
// custom_card //
.custom_card {
  padding: 20px 25px;
  border-radius: 5px;
  background-color: #f0f0f0;
  width: 100%;
  .card_container {
    width: 100%;
    @include media("sm") {
      width: 85%;
    }
    .title {
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 15px;
      text-decoration: underline;
      display: inline-block;
    }
    .description {
      font-size: 16px;
    }
    .info_content {
      margin-top: 15px;
      @extend .flex_between;
      flex-wrap: wrap;
      gap: 4px;
      .info {
        .key {
          font-weight: 500;
          font-size: 18px;
          margin-right: 2px;
        }
      }
    }
  }
}
// custom_card //
// animation //
.container_loader {
  position: relative;
  min-height: 400px;
  @include media("md") {
    min-height: 550px;
  }
}
.loader_cont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .anime {
    max-width: 450px;
  }
}
// animation //
// empty data //
.empty_data {
  text-align: center;
  margin: 15px 0;
  font-weight: bold;
  color: #333;
  font-size: 20px;
}
// empty data //
// load more //
.load_more {
  background-color: #ccc;
  color: #222;
  padding: 8px 12px;
  font-size: 18px;
  border-radius: 10px;
  margin: 30px auto;
  width: fit-content;
}
// load more //
// search box //
.autocomplete-input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.suggestions-list {
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 250px;
  overflow-y: auto;
  background-color: #fff;
  position: absolute;
  width: 100%;
  z-index: 1;
  list-style: none;
  margin-top: 2px;

  li {
    padding: 8px;
    cursor: pointer;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  .suggestion-active {
    background-color: #f0f0f0;
  }

  .no-suggestions {
    padding: 8px;
    color: #999;
    text-align: center;
  }
}

.clear-button {
  position: absolute;
  @extend .flex_center;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 18px;
  z-index: 10;
  cursor: pointer;
  color: #999;

  &:hover {
    color: #333;
  }
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;

  &:hover {
    background-color: #f0f0f0;
  }
}
// search box //
